* {
    box-sizing: border-box;
    
    padding: 0px;
    margin: 0px;
} 

html {
    font-size: 16px;
}

header {
	font-family: 'Playfair Display', serif;
	font-size: 2.5rem;

	/*background-color: #f7a655;*/
	/*background-color: #ab5a00;*/
	background-color: #ce822e;
	color:#212624;

	margin: 2.5rem 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;

	background-color: #2A2A2A;
    
	color: #F9FEF9;
	
}

h2,
h3,
h4 {
	font-family: 'Playfair Display', serif;
	line-height: 2rem;

	/*color: #f7a655;*/
	color: #ce822e;

	margin: .5rem 0;
	padding: .5rem 0;
	

}
.link-preview h2 {
	border-bottom: 2px solid #ce822e;
}

a:visited {
    color: #ce822e;
}
a:hover {
    text-decoration: underline;
}
a {
	text-decoration: none;
    color: #ce822e;

}
.inline-link {
	text-decoration: underline;

}

ul {
	list-style-type: circle;
    list-style-position: outside;

    margin-left: 2rem;

}

p {
	margin: 1rem 0;

}

.main-section {
	line-height: 2rem;
	font-size: 1.5rem;

	color: #F9FEF9;

	width: 90%;
	margin: 0 auto;

}

.link-preview {
	background: rgb(39,39,39);
	border-radius: 2px;
	width: 80%;
	padding: .0 .8rem .8rem .8rem;
	
}

.main-topic {
	padding: .625rem;
	margin: 1.375rem 0;

}

.footer {
	display: flex;
	justify-content: space-around;
	
	border-top: 2px solid #232927;
	
	width: 90%;
	padding: .625rem;
	margin: auto;

}
::-moz-selection{
	color: #EEEEEE;
	background-color: #ab5a00;
}

::selection {
	color: #EEEEEE;
	background-color: #ab5a00;
}
.button {
	background-color: #212624;
	
	border: 2px solid #888888;
	border-radius: 2px;
	
	padding: .5rem;

}

